<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs', { title: 'Dog' }) %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="mt-3 mb-3 text-center">
        <div class="row">
          <div class="col-6">
            <img
              src="<%= image %>"
              class="rounded mx-auto dog-image d-block img-fluid mb-3"
              alt="Responsive image"
            />
          </div>
          <div class="col-6">
            <ul class="list-group">
              <% list.forEach(function(option){ %>
              <li class="list-group-item">
                <a href="/dogs/breed/<%= option.value %>" class="d-block">
                  <%= option.name %>
                </a>
              </li>
              <% }); %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
