<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs', { title: 'pages' }) %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="card mb-3">
        <div class="card-body">
          <p class="card-text"><%= pages[activePage] %></p>
        </div>
      </div>

      <% if (pages.length) { %>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <% pages.forEach(function(page, index) { %>
          <li
            class="page-item <%= index === Number(activePage - 1) ? 'active' : '' %>"
          >
            <a class="page-link" href="?page=<%= index + 1 %>"
              ><%= index + 1 %></a
            >
          </li>
          <% }); %>
        </ul>
      </nav>
      <%} %>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
